*.Zip
*/*.Zip
*/*/*.Zip
*/*/*/*.Zip
*/*/*/*/*.Zip
*/*/*/*/*/*.Zip
./altium-library
.\altium-library
./Altium_Auto_Script/Mytext.txt
.\Celestial Altium Library.DbLib
.\Altium_Auto_Script\Mytext.txt
./Celestial Altium Library.DbLib
.\Celestial Altium Library.DbLib
altium-library\Celestial Altium Library.DbLib
